body {
    margin: 0;
}

.button-nav {
    margin-right: 20px;
    border: none;
    background: none;
    color: white;
}

.logo {
    color: white;
    border: none;
    background: none;
    text-align: left;
    font-size: 16px;
}

.text-droit {
    font-size: 14px;
    color: white;
}

ul {
    list-style-type: none;
    top: 0;
    overflow: hidden;
    background-color: #1e2d4c;
    height: 70px;
    position: fixed;
    width: 100%;
    margin-top: 0;
    padding-top: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
.menu {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.footer {
    width: 100%;
    background-color: #FAC110;
    height: 70px;
    left: 0;
    bottom: 0;
}

.footer p {
    text-align: center;
    padding-top: 20px;
}
.pdfmenu {
    width: 60%;
    height: 100vh;
    display: inline-block;
}

.menuThumbnail {
    width : 470px;
    display: flex;
    margin-top: 140px;
}

.menuPicker {

}