/*espace entre les boutons*/
.marginButton
{
  margin-top: 30px;
  padding-bottom: 30px;
}

/*contenu de la commande*/
.contenu
{
  border-radius: 10px;
  background-color: #fff;
}

/*date de la commande*/
.date_commande
{
  color: #FFBD00;
}

/*fond de la commande*/
.background_commande
{
  color: #2C416E;
}

/*bouton pour modifier la date de la commande*/
.bouton_update
{
  color: #fff;
  background-color: #2C416E;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
}

/*bouton annuler*/
.bouton_delete
{
  background-color: #FFBD00;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
}

/*formulaire de modification*/
.formModif
{
  border-radius: 10px;
  background-color: #fff;
}

/*style pour afficher la liste des commandes*/
.contenu_com
{
    margin-top: 50px;
    padding:  30 30 20 30;
    border-radius: 10px;
    background-color: #2C416E;
}



/* sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2C416E;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /*liens dans la sidebar*/
  .sidebar h3, a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /*survol de la souris*/
  .sidebar a:hover {
    color: #fff;
  }
  
  /*position du bouton pour fermer le menu*/
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /*bouton pour ouvrir la sideba*/
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2C416E;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #2C416E;
  }
  
  /*sert à ouvrir le menu vers la droite*/
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /*responsive de la sidebar*/
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }